.kaisei-decol-regular {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}

/*SEZIONE NAV*/

nav{
    background-color: white;
}

#Notizie{
    margin-left:90%;
    width: 100px;
    background-color: white;
}

#Logo{
    margin-top: -20px;
    display: block;
    background-color: white;
}


#SezioneGestione{
    display: inline;
    height:25px;
    width: 25%;
    background-color: white;
    padding-top: -5px;
}

.Gestione{
    margin-top: 5px;
    display: flex;
    background-color: rgb(170, 181, 191);
    border: 1px solid rgb(121, 73, 121);
    border-radius: 3px;
    color:black;
    font-weight: bold;
}

#GestioneImg{
    height: 15px;
    width: 15px;
    padding: 2px;
}

#GestioneText{
    font-family: 'kaisei-decol-regular';
}

.Dettagli{
    margin-top: -10px;
    background-color: rgb(121, 73, 121);
}

.Dettagli li {
    margin: 0.3em 0;
    margin-left: 0px;
    color: black;
}

.Nascosti{
    display: none;
}

#Riga{
    border-bottom: 2px solid lightslategray;
    margin-top: 10px;
}

/*SEZIONE HEADER*/

header{
    margin-bottom: 10px;
    margin-top: 10px;
}


#Top{
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: white;
}

.NoDecoration{
    text-decoration: none;
}

.Link{
    margin-left: 0px;
    margin-right: 50px;
    font-family: 'kaisei-decol-regular';
}

.Elemento{
    display: inline-block;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
}

.Sottolinea:hover{
    border-bottom: 3px solid purple;
}


#Spazio_Ricerca{
    display: inline-block;
    margin-left: 5px;
    background-color: white;
}

#InputBar{
    height: 20px;
}


#SpazioMenu{
    display: none;
}

.Menu{
    height: 3px;
    width: 20px;
    margin-bottom: 3px;
    background-color: black;
}


#modal-view {
    position: absolute;
    top: 150px;
    left: 50;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: column;
}

#modal-view.hidden {
    display: none;
}

#ListaOpzioni{
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
  



section{
    background-color: black;
    height: 410px;
}

#Container{
    background-color: orangered;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#SpazioIMG1{
    background-color: cyan;
    height: 100%;
    width: 50%;
}

#IMG1{
    width: 100%;
    height: 100%;
}

#Text1A{
    color: black;
    margin-top: -25%;
    margin-left: 5%;
    margin-right: 5%;
}

#Text1B{
    color: black;
    margin-bottom: 0%;
    margin-left: 5%;
}

#Container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

#SpazioIMG2{
    background-color: burlywood;
    height: 50%;
    width: 100%;
}

#IMG2{
    width: 100%;
    height: 100%;
}

#Text2{
    color: black;
    margin-left: 5%;
    margin-top: -7%;
}

#Container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}

#SpazioIMG3{
    background-color: darkkhaki;
    height: 100%;
    width: 50%;
}

#IMG3{
    height: 100%;
    width: 100%;
}

#Text3{
    color: black;
    margin-top: -20%;
    margin-left: 5%;
}

#SpazioIMG4{
    background-color: lawngreen;
    height: 100%;
    width: 50%;
}

#IMG4{
    height: 100%;
    width: 100%;
}

#Text4{
    color: white;
    margin-top: -20%;
    margin-left: 5%;
}




#Ricette-view{
    display: flex;
    flex-wrap: wrap;
}

#Ricette-view .ricetta{
    margin: 10px;
    border: 1px solid lightslategray;
    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

#Ricette-view .img{
    max-width: 100%;
}






@media (max-width: 720px){
    body{
        background-color: white;
    }
    
    /*SEZIONE NAV*/
    nav{
        background-color: white;
        margin-right: -150px;
        margin-left: -150px;
    }

    #Notizie{
        display:none;
    }

    #Logo{
        margin-top: 0px;
        margin-left: 180px;
    }

    
    #SezioneGestione{
        display: block;
        margin-left: 150px;
        margin-top: 5px;
        height: 20px;
        width: 420px;
    }
    
    .Gestione{
        margin-top: 0px;
    }

    .Dettagli {
        background-color: transparent;
        margin-top: -60px;
        margin-left: 410px;
    }

    #Riga{
        border-bottom: 2px solid lightslategray;
        margin-top: 20px;
        margin-bottom: 5px;
    }


    /*SEZIONE HEADER*/
    header{
        height: 85px;
        display: flex;
        justify-content:space-between;
        align-items:start;
    }

    #Top{
        display: none;
    }

    /*SEZIONE MENU MOBILE*/

    #SpazioMenu{
        display: block;
    }

    .ElementoMenu{
        background-color: purple;
        font-size: 20px;
        color: black;
        margin-right: 150px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #Spazio_Ricerca{
    display: block;
    }
    
    
    
    
    /* Section e SEZIONE FOTO*/
    section{
        margin-top: -60px;
    }

    #Container{
        margin-top: 0px;
        display: block;
    }

    #SpazioIMG1{
        width: 100%;
        height: 50%;
    }

    #Text1A{
        color: black;
        margin-top: -40%;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    #Text1B{
        color: black;
        margin-bottom: 0%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #Container2{
        display: block;
        width: 100%;
        height: 100%
    }

    #SpazioIMG2{
        width: 100%;
    }

    #Text2{
        color: black;
        margin-top: -20%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #SpazioIMG3{
        width: 50%;
        height: 50%;
    }

    #Text3{
        color: black;
        margin-top: -30%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #SpazioIMG4{
        width: 50%;
        height: 50%;
    }

    #Text4{
        color: white;
        margin-top: -25%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
